window-rule {
    geometry-corner-radius 6
    clip-to-geometry true
    tiled-state true
    draw-border-with-background false
}

layout {
    gaps 6

    empty-workspace-above-first

    // default-column-display "tabbed"

    always-center-single-column

    default-column-width {
        proportion 0.7
    }

    preset-column-widths {
        proportion 0.5
        proportion 0.7
    }

    border {
        on
        width 1
        active-color "#ffffff40"
        inactive-color "#ffffff2a"
    }

    // This adds a little more contrast around the active window. I can't fully
    // replicate the macOS look of a light border surrounded by a darker one,
    // but this gets close enough
    focus-ring {
        on
        width 1
        active-color "#00000050"
    }
}

overview {
    backdrop-color "#000"

    // since the background is black, no point rendering the shadow
    workspace-shadow {
        off
    }
}

prefer-no-csd

animations {
    slowdown 0.3
}

recent-windows {
    highlight {
        corner-radius 6
    }
}
