window-rule {
    geometry-corner-radius 8
    clip-to-geometry true
    tiled-state true
    draw-border-with-background false
}

window-rule {
    match is-floating=true

    geometry-corner-radius 16

    shadow {
        on
        spread -2
        softness 32
        offset x=0 y=0
        color "#000000b0"
        inactive-color "#00000040"
    }

    border {
        on
        width 0.5
        active-color "#ffffffa0"
        inactive-color "#ffffff60"
    }
}

layout {
    gaps 6

    empty-workspace-above-first

    always-center-single-column

    default-column-display "tabbed"
    tab-indicator {
        hide-when-single-tab
        // place-within-column
        length total-proportion=0.3
        gap -6
        width 3
        corner-radius 6
        active-color "#ffffffc0"
        inactive-color "#ffffff80"
        gaps-between-tabs 6
    }

    default-column-width {
        proportion 0.4
    }
    preset-column-widths {
        proportion 0.4
        proportion 0.6
    }

    focus-ring {
        on
        active-color "#4e9ecd"
        inactive-color "#eeeeee"
        width 1
    }
    border {
        on
        width 0.5
        // active-color "#ffffff90"
        active-color "#4e9ecd"
        inactive-color "#ffffff6a"
    }
    shadow {
        on
        softness 0
        spread 0.5
        offset x=0 y=0
        color "000000a0"
        inactive-color "00000080"
    }
}

overview {
    backdrop-color "#000000"

    // since the background is black, no point rendering the shadow
    workspace-shadow {
        off
    }
}

prefer-no-csd

animations {
    slowdown 0.3
}

recent-windows {
    highlight {
        corner-radius 6
    }
}
