window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}

window-rule {
    match app-id="^org.gnome.(Loupe|Showtime)$"
    default-column-width {}
}

window-rule {
    match app-id="^firefox$"
    match app-id="^code$"
    default-column-width {
        proportion 1.0
    }
    // opacity 0.5
}

window-rule {
    match app-id="^firefox$" title="^Picture-in-Picture$"
    open-floating true
}

window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#
    // match app-id=r#"^com\.onepassword\.OnePassword$"#

    block-out-from "screen-capture"

    // Use this instead if you want them visible on third-party screenshot tools.
    // block-out-from "screencast"
}
